/* Contact Page */
#contact {
  min-height: calc(100vh - 100px);
  display: flex;
  padding-top: 100px;
}
img {
  width: 100%;
  border-radius: 8px;
}
#contactLeft {
  width: 20%;
  position: fixed;
}
h4 {
  text-decoration: underline;
}
#contactRight {
  width: 80%;
  background-color: lightsteelblue;
  margin-left: 21%;
  margin-bottom: 1%;
  border-radius: 8px;
}
h2 {
  text-align: center;
  background-color: white;
  width: 34%;
  margin: 5% 33% 5% 33%;
  border-radius: 8px;
}
p {
  width: 50%;
  margin: 5% 25%;
  text-align: center;
  font-size: 18px;
  font-family: Georgia;
}
@media only screen and (max-device-width: 750px) {
  #contactLeft {
    display: none;
  }
}
#contactRight {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin: 1% 1% 1% 1%;
  align-self: center;
}
