html {
  height: 100%;
}
body {
  height: 100%;
}

/* Header */
header {
  min-height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: steelblue;
}
h1 {
  margin-left: 5%;
  color: White;
}
#navBar {
  display: flex;
  float: right;
}

/* Home Page */
#home {
  height: 100%;
  display: flex;
  padding-top: 100px;
}
img {
  width: 100%
}
#homeLeft {
  width: 20%
}
h4 {
  text-decoration: underline;
}
#homeRight {
  width: 100%;
  height: 100%;
  background-color: lightsteelblue;
  margin-left: 1%;
  margin-bottom: 1%;
}
h2 {
  text-align: center;
  background-color: white;
  width: 34%;
  margin: 5% 33% 5% 33%;
}
p {
  text-align:center;
}

/* About Page */
#about {
  padding-top: 100px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: steelblue;
}
