/* Home Page */
#home {
  min-height: calc(100vh - 100px);
  display: flex;
  padding-top: 100px;
}
img {
  border-radius: 8px;
  width: 100%;
}
#homeLeft {
  width: 20%;
  position: fixed;
}
h4 {
  text-decoration: underline;
}
#homeRight {
  border-radius: 8px;
  width: 80%;
  background-color: lightsteelblue;
  margin-left: 21%;
  margin-bottom: 1%;
}
.homeMenu {
  border-radius: 8px;
  height: 25%;
  border: 2px solid lightsteelblue;
}
.homeMenu:hover {
  background-color: white;
  border: 2px solid steelblue;
}
.homeLink {
  text-decoration: none;
}
.btnHeader {
  text-align: center;
  width: 100%;
  color: black;
  margin-top: 0%;
}
.btnDescription {
  width: 100%;
  text-align: center;
  color: lightsteelblue;
  font-size: xx-large;
}

@media only screen and (max-device-width: 750px) {
  #home {
    flex-direction: column;
  }
  #homeLeft {
    width: 100%;
    position: initial;
    display: flex;
  }
  #homeLeft img {
    max-width: 50%;
    height: 30vh;
  }
  #homeDownloads {
    margin-left: 1%;
    width: 48%;
  }
  #homeDownloads a {
    font-size: 28px;
  }
  #homeRight {
    display: none;
  }
}
