/* Resume Page */
#resume {
  min-height: calc(100vh - 100px);
  display: flex;
  padding-top: 100px;
}
#portrait {
  width: 100%;
  border-radius: 8px;
}
#resumeLeft {
  width: 20%;
  position: fixed;
}
#downloads {
  text-decoration: underline;
}
#resumeRight {
  width: 80%;
  height: 100%;
  background-color: lightsteelblue;
  margin-left: 21%;
  margin-bottom: 1%;
  border-radius: 8px;
}
h2 {
  text-align: center;
  background-color: white;
  width: 34%;
  margin: 5% 33% 5% 33%;
  border-radius: 8px;
}
h3 {
  width: 100%;
  height: 10%;
  background-color: steelblue;
}
h4 {
  font-size: 17px;
  font-family: Georgia;
}
p {
  font-size: 16px;
  font-family: Georgia;
}
.edu {
  width: 100%;
  text-align: left;
  margin-right: 2%;
}
.cert {
  padding-left: 30%;
}
.vertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 27%;
}
#uiImg {
  width: 20%;
  height: 25%;
  padding-left: 3%;
}
#blImg {
  width: 40%;
  height: 40%;
}
#fgImg {
  width: 30%;
  height: 30%;
}

.skills {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.skillBox {
  width: 33%;
}
.skillLogo:hover + .skillInfo {
  visibility: visible;
}
.skillLogo {
  width: 15%;
  display: block;
  margin: 0 auto;
}
.skillInfo {
  display: flex;
  visibility: hidden;
  justify-content: center;
}
.skillLogoBr {
  width: auto;
}
.skillAdvanced {
  width: auto;
  color: red;
}
.skillIntermediate {
  width: auto;
  color: yellow;
}
.skillNovice {
  width: auto;
  color: green;
}

@media only screen and (max-device-width: 750px) {
  #resumeLeft {
    display: none;
  }
}
#resumeRight {
  width: 100%;
  margin: 1% 1% 1% 1%;
  align-self: center;
}
